@use "@/index.scss";

li.subreddit {
  border-bottom: index.$primary-color 1px solid;

  &.active {
    background-color: index.$secondary-color;

    button span {
      color: index.$primary-color;
    }

  }

  button {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 8px 10px;
    line-height: 1.5;
    background-color: transparent;

    img,
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
    }

    img {
      border-radius: 50px;
    }

    svg {
      font-size: 1.5rem;
    }

    &:last-child {
      border-bottom: 0;
    }

    .name {
      display: flex;
      justify-items: center;
      text-transform: capitalize;
      font-size: 0.9rem;
      align-items: center;
      padding: 0;
    }
  }
}

@media (prefers-color-scheme: light) {
  li.subreddit {
    &.active {
      background-color: index.$light-color;
    }
  }
}
