@use "@/index.scss";

.subreddits {
  height: 100%;
  opacity: 0.95;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow-x: hidden;
  float: left;
  background-color: index.$dark-color;

  .closebtn {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    font-style: normal;
    padding: 10px;
    border: none;
    background-color: transparent;

    &:hover {
      color: index.$dark-color;
    }
  }

  h2 {
    margin: 20px 15px 5px;
  }

  ul {
    list-style: none;
    border: 1px solid index.$primary-color;
    border-radius: 5px;
    margin: auto 5px;
  }
}

.filterBtn {
  position: fixed;
  right: 0;
  top: 0;
  background-color: index.$primary-color;
  color: index.$light-color;
  width: 15%;
  height: 5.8rem;
  border: 0;
  z-index: 2;

  svg {
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: light) {
  .subreddits {
    background-color: index.$white-color;

  }
}

@media screen and (min-width: 650px) {
  .subreddits {
    position: relative;
    width: 25%;
    min-width: 220px;
    margin-top: 20px;
    z-index: 1;

    .closebtn {
      display: none;
      background-color: index.$dark-color;
    }
  }

  .filterBtn {
    display: none;
  }
}
