@use "@/index.scss";

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  background-color: rgba(246, 237, 227, 0.1);
  width: 100%;
  border: 1px solid index.$primary-color;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  margin: 20px 0;

  img {
    width: 90%;
    min-width: 200px;
    height: auto;
    padding: 10px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px index.$primary-color solid;
    width: 97%;

    .comments {
      cursor: pointer;
    }

    svg {
      margin: 0 10px;
      cursor: pointer;

      &:hover {
        color: index.$primary-color;
      }
    }

    .author a {
      color: index.$primary-color;
      text-decoration: none;

      &:visited {
        color: index.$primary-color;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .post {
    background-color: index.$light-color;
  }
}
