@use '@/index.scss';

section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: auto;

  input,
  button {
    border-radius: 5px;
    border-color: index.$primary-color;
  }

  input {
    width: 90%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem;
  }

  button {
    background-color: index.$primary-color;
    color: index.$light-color;
    width: 10%;
    margin-left: -3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    svg {
      font-size: 1.2rem;
    }
  }
}
