@use "@/index.scss";

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: auto;
  margin-top: 5.8rem;

  div {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      padding: 0.5rem;
      color: index.$light-color;
      background-color: index.$dark-color;
      line-height: 1;
      border-radius: 5px;
      border-color: index.$primary-color;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: index.$primary-color;
      color: index.$light-color;
      width: 10%;
      border: 0;
      z-index: 2;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      svg {
        font-size: 1.2rem;
      }
    }
  }
}

::placeholder {
  color: index.$placeholder-color;
}

@media (prefers-color-scheme: light) {
  .searchBar {
    div input {
      background-color: white;
    }
  }
}
