@use "@/index.scss";

.header {
  background-color: index.$dark-color;
  width: 100%;
  padding: 1rem;
  position: fixed;
  height: 5.8rem;
  top: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: index.$primary-color;

    &:hover {
      color: index.$primary-color;
    }

    svg {
      font-size: 3rem;
      margin: auto 1rem 0.8rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    a {
      justify-content: center;
    }
  }
}
